body {
    display:flex; 
    justify-content: center;
}
.calculator {
    max-width: 975px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    border-radius: 10px;
}
.display {
    margin-bottom: 7px;
}
#displayer {
    border-radius: 10px;
    border: 1px solid pink;
    padding: 7px;
    text-align: right;
}
.inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
    gap: 7px;
}
.calcButton {
    padding: 3px 10px;
    border-radius: 10px;
    background-color: pink;
    flex-grow: 1;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    max-width: 120px;
}
.operators {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    gap: 7px;
}
button {
    font-size: 1.2em;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #41025a;
}
button:hover {
    background-color: rgb(247, 218, 223);
    border: 1px solid #a52bd5;
}